#Data Types and Structure

1. What are data structures, and why are they important?

-  Data structures are fundamental concepts in computer science. They are specialized formats for organizing and storing data, enabling efficient access,manipulation.

2. Explain the difference between mutable and immutable data types with examples.
-  Mutable data types can be modified whereas we can not modify the data in immutable data types.
For example, lists are mutable whereas the tuple is immutable.

3. What are the main differences between lists and tuples in Python?
-  List are represented using square brackets whereas tuples are represented as curved brackets. Lists are mutable whereas tuples are immutable that means we can modify data in list whereas we can not modify data in tuples.

4. Describe how dictionaries store data?
-  Dictionaries in Python store data in a key-value pair format.

5. Why might you use a set instead of a list in Python?
-  Set stores only unique values that means if there are duplicate values then set will automatically removes it. Set also supports mathematical functions like Union, Intersection, Difference, Symmetric.

6. What is a string in Python, and how is it different from a list?
-  String is a sequence of characters enclosed within single ('...') or double quotes ("...").
- String is a sequence of characters enclosed within single ('...') or double quotes ("...").String is a sequence of characters enclosed within single ('...') or double quotes ("...").
- String is immutable whereas list is mutable.

- String is used to store text characters whereas lists are used to store variety of data types.

7. How do tuples ensure data integrity in Python?
-  Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its contents cannot be changed.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that uses a hash function to map keys to specific locations within an array.Dictionaries store data in key-value pairs, where the keys are used to hash and find the corresponding values.
Dictionaries store data in key-value pairs, where the keys are used to hash and find the corresponding values.

9. Can lists contain different data types in Python?
-  Yes, a can contain different data types in Python. Pythom List are heterogenous, meaining they can hold elements of various data types such as integers, strings, float, objects or even other list.

10.Explain why strings are immutable in Python?
-  Immutable objects can be easily cached. Since the value of a string never changes, its hash value (used for dictionary lookups) remains constant. This allows Python to cache the hash value, leading to faster dictionary lookups.

11. What advantages do dictionaries offer over lists for certain tasks?
- When you need fast lookups by a specific identifier (key).
-When you want to store data in an associative manner (key-value pairs).

12. Describe a scenario where using a tuple would be preferable over a list?
- We can use tuple whenever we need to store hostname, password or aadhar card number.

13. How do sets handle duplicate values in Python?
- Sets in Python handle duplicate values by automatically removing them.
A fundamental property of a set is that it can only contain unique elements
When you create a set from a list or other iterable containing duplicates, the set constructor (set()) automatically eliminates any duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
- The in operator checks if a given value exists as an element within the list.
The in operator checks if a given value exists as a key within the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
- It is not directly possible to modify the elements of a tuple in Python.
If an element within the tuple itself is mutable (like a list), we can modify that element directly.

16. What is a nested dictionary, and give an example of its use case?
-  A nested dictionary is a dictionary within another dictionary. In simpler terms, it's like a dictionary that contains other dictionaries as values for some of its keys.
Use Case:- Imagine you're building an application to track student information. You could use a nested dictionary to store information about multiple students, where each student has multiple attributes.

17. Describe the time complexity of accessing elements in a dictionary?
-  The time complexity of accessing elements in a Python dictionary is O(1) on average.
This implies that the time taken to access an element does not depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
-  If we need to iterate through the elements in a specific order (e.g., for processing, displaying, or performing calculations sequentially), lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because they do not guarantee any specific order for the key-value pairs.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair.

# Practical Questions

1' Write a code to create a string with your name and print it.

In [3]:
name = "Sahil"
print(name)
print(type(name))

Sahil
<class 'str'>

In [6]:
#2 Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[0:3])

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [10]:
#6.  Write a code to create a list with numbers 1 to 5 and print it.
a = [1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [11]:
7. #Write a code to append the number 10 to the list [1, 2, 3, 4].
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [16]:
#11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10, 20, 30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [17]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
print(tup.count(2))

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [20]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup = ('apple', 'orange', 'banana')
print('banana' in tup)

True

In [22]:
#16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1, 2, 3, 4, 5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [24]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [25]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [26]:
#19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tup = ('apple', 'banana', 'cherry')
print(tup[0])

apple

In [27]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup = (1, 2, 3, 2, 4, 2)
print(tup.count(2))

3

In [28]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [29]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tup = ('apple', 'orange', 'banana')
print('banana' in tup)

True

In [30]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [31]:
#24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}